body, html {
    height: 100%;
    color: #000;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.ttf');
}

body {
    font-family: 'Verdana' !important;
}

a, a:hover, a:focus, a:active {
    outline: none;
}

.error {
    border: 1px solid #f00 !important;
}

#ui-datepicker-div {
    z-index: 1200 !important;
}

.AlertPopup {
    width: 500px;
    margin: 0 auto;
    margin-top: 5%;
}
/* Loader css Start */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1200;
    background: rgba(82, 82, 82, 0.6);
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;
        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;
        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0); /* IE 9 */
    transform: translateX(0); /* Firefox 16+, IE 10+, Opera */
}

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%); /* IE 9 */
    transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%); /* IE 9 */
    transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%); /* IE 9 */
    transform: translateY(-100%); /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}
/* Loader css End */
/* menu css start */
.wto-menu {
    background-color: #fff;
    border-color: #fff;
    border-radius: 0px;
    /*box-shadow: 0 5px 5px -5px #333;*/
    border: none;
    margin-bottom: 0px;
}



.sidebar-nav .dropdown-menu > .active > a,
.sidebar-nav .dropdown-menu > .active > a:focus,
.sidebar-nav .dropdown-menu > .active > a:hover {
    color: #000 !important;
    text-decoration: none;
    background-color: #6fe8d7;
    outline: 0;
}

.dropdown-toggle.drop {
    background-color: #dbfaf6 !important;
}

    .dropdown-toggle.drop:hover,
    .dropdown-toggle.drop:active,
    .dropdown-toggle.drop:focus {
        background-color: #1edec5 !important;
        border-left-style: none;
    }


.nav .open > a {
    background-color: transparent;
}

    .nav .open > a:hover {
        background-color: transparent;
    }

    .nav .open > a:focus {
        background-color: transparent;
    }

.transitioncss {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/*#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 250px;
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}*/

#wrapper {
    padding-left: 0;
}

    #wrapper.toggled {
        padding-left: 250px;
    }

        #wrapper.toggled #sidebar-wrapper {
            width: 250px;
        }

.topbg {
    background: url(../../img/topbg.png) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80px;
    line-height: 80px;
}

#sidebar-wrapper {
    /*background: url(../../img/sidebg.png) no-repeat;*/
    box-shadow: 3px 0px 5px 0px #959595;
    height: 100%;
    left: 250px;
    margin-left: -250px;
    overflow-x: hidden;
    overflow-y: auto;
    /*-moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;*/
    width: 0;
    z-index: 1000;
    background: #dbfaf6;
    /*background-size: cover;
    background-position: center;*/
}

    #sidebar-wrapper::-webkit-scrollbar {
        display: none;
    }

/* #page-content-wrapper { */
/* width: 100%; */
/* } */

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    /* top: 50px; */
    width: 250px;
}

    .sidebar-nav li {
        display: inline-block;
        line-height: 20px;
        position: relative;
        width: 100%;
    }

    .sidebar-nav .list:before {
        /*background-color: #1c1c1c;*/
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        /*-webkit-transition: width 0.2s ease-in;
	-moz-transition: width 0.2s ease-in;
	-ms-transition: width 0.2s ease-in;
	-o-transition: width 0.2s ease-in;
	transition: width 0.2s ease-in;*/
        width: 3px;
        z-index: -1;
    }

    .sidebar-nav li.active {
        background-color: #1edec5 !important;
    }

        .sidebar-nav li.active a {
            background-color: transparent;
            /*color: #fff !important;*/
            text-decoration: none;
        }

    .sidebar-nav .list:hover, .sidebar-nav .list:focus, .sidebar-nav .list:active {
        background-color: #1edec5 !important;
    }

    .sidebar-nav .list a:hover, .sidebar-nav .list a:focus, .sidebar-nav .list a:active {
        background-color: #1edec5 !important;
    }

    /*.sidebar-nav .list {
        background: #e91e63;
    }*/
    .sidebar-nav .sidebar-brand > a:focus, .sidebar-nav .sidebar-brand > a:hover {
        text-decoration: none;
        background-color: transparent;
    }

    .sidebar-nav > li > a:focus, .sidebar-nav > li > a:hover {
        text-decoration: none;
        background-color: #1edec5;
    }


    .sidebar-nav li:hover:before {
        -webkit-transition: width 0.2s ease-in;
        -moz-transition: width 0.2s ease-in;
        -ms-transition: width 0.2s ease-in;
        -o-transition: width 0.2s ease-in;
        transition: width 0.2s ease-in;
        width: 100%;
    }

    .sidebar-nav li a {
        color: #000;
        display: block;
        padding: 8px 15px 8px 30px;
        text-decoration: none;
    }

    .sidebar-nav li.open:hover before {
        -webkit-transition: width 0.2s ease-in;
        -moz-transition: width 0.2s ease-in;
        -ms-transition: width 0.2s ease-in;
        -o-transition: width 0.2s ease-in;
        transition: width 0.2s ease-in;
        width: 100%;
    }

    .sidebar-nav .dropdown-menu {
        background-color: #aef6ec;
        -ms-border-radius: 0;
        border-radius: 0;
        border: none;
        -webkit-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
    }
        /* .submenulist:hover, .submenulist:focus, .submenulist:active{ */
        /* color:#fff; */
        /* background-color: transparent; */
        /* } */
        .sidebar-nav .dropdown-menu li a:hover,
        .sidebar-nav .dropdown-menu li a:active,
        .sidebar-nav .dropdown-menu li a:focus .sidebar-nav li.open a:hover,
        .sidebar-nav .dropdown-menu li.open a:active,
        .sidebar-nav .dropdown-menu li.open a:focus {
            background: #6fe8d7;
            color: #000 !important;
            text-decoration: none;
        }

    .sidebar-nav > .sidebar-brand {
        font-size: 20px;
        /*height: 65px;
        line-height: 44px;*/
        background-image: linear-gradient(to top, #1edac9, #0fd6ce, #07d3d3, #0fcfd6, #1ccbd9);
    }

.hamburger {
    background-image: linear-gradient(to top, #1edac9, #0fd6ce, #07d3d3, #0fcfd6, #1ccbd9);
    border: none;
    display: block;
    height: 40px;
    margin-left: 0px;
    position: fixed;
    width: 40px;
    z-index: 999;
    margin-top: 15px;
    border-radius: 5px;
}

    .hamburger:hover, .hamburger:focus, .hamburger:active {
        outline: none;
    }

    /* .hamburger:focus { */
    /* outline: none; */
    /* } */

    /* .hamburger:active { */
    /* outline: none; */
    /* } */

    .hamburger.is-closed:before {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        content: '';
        display: block;
        font-size: 14px;
        line-height: 32px;
        -ms-opacity: 0;
        opacity: 0;
        text-align: center;
        width: 100px;
    }

    .hamburger.is-closed:hover before {
        -webkit-transform: translate3d(-100px, 0, 0);
        -moz-transform: translate3d(-100px, 0, 0);
        -ms-transform: translate3d(-100px, 0, 0);
        -o-transform: translate3d(-100px, 0, 0);
        transform: translate3d(-100px, 0, 0);
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        display: block;
        -ms-opacity: 1;
        opacity: 1;
    }

    .hamburger.is-closed .hamb-top {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        top: 8px;
    }

    .hamburger.is-closed .hamb-middle {
        top: 42%;
    }

    .hamburger.is-closed .hamb-bottom {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        bottom: 8px;
    }

    .hamburger.is-closed .hamb-top,
    .hamburger.is-closed .hamb-middle,
    .hamburger.is-closed .hamb-bottom,
    .hamburger.is-open .hamb-top,
    .hamburger.is-open .hamb-middle,
    .hamburger.is-open .hamb-bottom {
        height: 5px;
        left: 7px;
        position: absolute;
        width: 65%;
    }

    .hamburger.is-open .hamb-top {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -moz-transition: -moz-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -ms-transition: -ms-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -o-transition: -o-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        transition: transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        margin-top: -2px;
        top: 50%;
    }

    .hamburger.is-open .hamb-middle {
        display: none;
    }

    .hamburger.is-open .hamb-bottom {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -moz-transition: -moz-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -ms-transition: -ms-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -o-transition: -o-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        transition: transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        margin-top: -2px;
        top: 50%;
    }

    .hamburger.is-open:before {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        content: '';
        display: block;
        font-size: 14px;
        line-height: 32px;
        -ms-opacity: 0;
        opacity: 0;
        text-align: center;
        width: 100px;
    }

    .hamburger.is-open:hover before {
        -webkit-transform: translate3d(-100px, 0, 0);
        -moz-transform: translate3d(-100px, 0, 0);
        -ms-transform: translate3d(-100px, 0, 0);
        -o-transform: translate3d(-100px, 0, 0);
        transform: translate3d(-100px, 0, 0);
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        display: block;
        -ms-opacity: 1;
        opacity: 1;
    }

.hamb-bottom, .hamb-middle, .hamb-top {
    background-color: #fff;
}

.WTOlogo {
    margin: 0 auto;
}

.top-offset {
    margin-top: 50px;
}

.profile-img {
    height: 45px;
    border-radius: 25px;
    display: inline;
    margin-bottom: 0px;
    padding: 0px;
}

.submenulist {
    margin-left: 20px;
}

.ProfileName {
    color: #000 !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #555;
    background-color: transparent;
}

.profile {
    min-width: 200px;
}
/* menu heding start */

.MenuHeading {
    color: #000 !important;
    margin-left: 40px !important;
    margin-top: 10px;
    font-weight: 700;
}

/* menu heding start */

@media screen and (min-width : 768px) and (max-width : 1023px) {
}

@media screen and (min-width : 0px) and (max-width : 767px) {
    .padding-left-44 {
        padding-left: 15px !important;
    }

    .AlertPopup {
        width: 100%;
        margin: 0 auto;
        margin-top: 5%;
    }

    .hamburger {
        margin-left: 0px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 100%;
    }

    .sidebar-nav {
        width: 100%;
    }

    #wrapper.toggled {
        padding-left: 0px !important;
    }

    .small-hamburger {
        background: #222;
        margin-left: 0px;
        position: absolute;
        width: 52px;
        right: 0;
        top: 0px;
    }

    .P-left-4p {
        padding-left: 2% !important;
    }

    .hamburger {
        margin-top: 6px;
    }

    /*.list {
        padding-left: 80px;
    }*/

    .MenuHeading {
        color: #180464 !important;
        margin-left: 0px !important;
        margin-top: 0px;
        font-size: 15px;
    }

    .sm-20-bottom {
        margin-bottom: 20px;
    }
}

@media screen and (min-width : 0px) and (max-width : 320px) {
    /*.list {
        padding-left: 50px;
    }*/
}

@media screen and (min-width : 414px) and (max-width : 736px) {
    .MenuHeading {
        color: #180464 !important;
        margin-left: 30px !important;
        margin-top: 0px;
        font-size: 15px;
    }
}

/* menu css end */

/* bottom offset start */
.bottom-offset-50 {
    margin-bottom: 50px;
}

.bottom-offset-40 {
    margin-bottom: 40px;
}

.bottom-offset-30 {
    margin-bottom: 30px;
}

.bottom-offset-20 {
    margin-bottom: 20px;
}

.bottom-offset-10 {
    margin-bottom: 10px;
}

.Accordian-panel {
    margin-bottom: 20px !important;
    border-radius: 0px !important;
    border: none;
}
/* bottom offset start */


/* top offset start */
.top-offset-50 {
    margin-top: 50px;
}

.top-offset-40 {
    margin-top: 40px;
}

.top-offset-30 {
    margin-top: 30px;
}

.top-offset-20 {
    margin-top: 20px;
}

.top-offset-10 {
    margin-top: 10px;
}

.top-offset-5 {
    margin-top: 5px;
}
/* top offset start */

/* left offset start */
.left-offset-50 {
    margin-left: 50px;
}

.left-offset-40 {
    margin-left: 40px;
}

.left-offset-30 {
    margin-left: 30px !important;
}

.left-offset-20 {
    margin-left: 20px;
}

.left-offset-10 {
    margin-left: 10px;
}
/* left offset start */


/* padding top offset */

.padding-top-10 {
    padding-top: 10px;
}

/* padding top offset end*/

/* padding bottom offset */

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-0 {
    padding: 8px 0px !important;
}

.padding-top-bottom {
    padding-top: 15px;
    padding-bottom: 15px;
}
/* padding bottom offset end*/

/* four padding */

.padding-10 {
    padding: 10px;
}

/* four padding */

/* background css start */

.bodybackground {
    /*background: #f6f6f6;*/
    /*min-height: 88.6vh;*/
}

.lightgraybg {
    background: #f6f5f5;
}

.darkgraybackground {
    background: #e8e7e9;
}

.greybackground {
    background: #c1c1c1;
}

.blackbackground {
    background: #3c3839;
}

.second-blackbackground {
    background: #e3faf7;
}

.darkBlueblackbackground {
    background: #1edec5;
}

.whitebackground {
    background: #fff;
    border-radius: 0px;
}

.graybackground {
    background: #f0eeee;
    box-shadow: 5px 6px 5px 0px #bfbfbf;
}

/* background css end */



/* data table css start */

.blackbackground th {
    color: #fff;
}

.table .blackbackground tr th, .table .whitebackground tr td {
    border-right: none;
    /* width: auto !important; */
}

.second-blackbackground th {
    color: #000;
    vertical-align: middle !important;
}

.table .second-blackbackground tr th, .table .whitebackground tr td {
    border-right: none;
    /* width: auto !important; */
}
/* div.dataTables_wrapper div.dataTables_paginate { */
/* text-align: left; */
/* margin-top:20px; */
/* } */
/* .pagination li a{ */
/* border-radius:25px !important; */
/* margin-left:5px; */
/* } */
/* .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover { */
/* z-index: 3; */
/* color: #fff; */
/* cursor: default; */
/* background-color: #180464; */
/* border-color: #180464; */
/* } */
/* .dataTables_filter{ */
/* display:none; */
/* } */

/* .dataTables_scrollBody{ */
/* overflow-y:hidden; */
/* } */
/* .dataTables_length{ */
/* color:#180464; */
/* } */


/* data table css end */

/* button css atart */

.btn-blue, .btn-blue:hover, .btn-blue:focus, .btn-blue:active {
    background: #03befc;
    color: #fff;
    border-color: #03befc;
    border-radius: 5px;
}

.btn-red, .btn-red:hover, .btn-red:focus, .btn-red:active {
    background: #ff5454;
    color: #fff;
    border-color: #ff5454;
    border-radius: 5px;
}

.btn-dark-red, .btn-dark-red:hover, .btn-dark-red:focus, .btn-dark-red:active {
    background: #d94f47;
    color: #fff;
    border-color: #d94f47;
    border-radius: 5px;
}

.btn-light-blue, .btn-light-blue:hover, .btn-light-blue:focus, .btn-light-blue:active {
    background: #009aff;
    color: #fff;
    border-color: #009aff;
    border-radius: 5px;
}

.btn-dark-green, .btn-dark-green:hover, .btn-dark-green:focus, .btn-dark-green:active {
    background: #22b9a3;
    color: #fff;
    border-color: #22b9a3;
    border-radius: 5px;
}

.btn-gray, .btn-gray:hover, .btn-gray:focus, .btn-gray:active {
    background: #7d7d7d;
    color: #fff;
    border-color: #7d7d7d;
    border-radius: 5px;
}

.sky-blue, .sky-blue:hover, .sky-blue:focus, .sky-blue:active {
    background: #015998;
    color: #fff;
    border-color: #015998;
    border-radius: 5px;
}

.btn-padding {
    padding: 6px 30px 8px 30px !important;
}

.btn {
    padding: 6px 12px 6px 12px;
}
/* button css end */

/* textbox css start */

.textboxcontrol {
    background: #fff;
    border-radius: 0px;
    border-color: #000;
    color: #000;
}

.form-control-feedback {
    right: 10px;
}
/* textbox css start */

/* only color css */

.blue-color {
    color: #180464;
}

.red-color {
    color: #ed1a23;
}

.dark-blue {
    color: #000cff;
}

.light-blue {
    color: #009aff;
}

.white-color {
    color: #fff;
}

.light-gray {
    color: #c2c1c3;
}
/* only color end */

/* badge css start */

.small-circle {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #ccc;
    margin-top: 3px;
    float: left;
    margin-left: 3px;
    color: #000;
}

.light-sky-blue {
    background: #009ee3 !important;
}

.dark-purpal {
    background: #7966ab !important;
}

.light-purpal {
    background: #9e6a9f !important;
}

.dark-brown {
    background: #c9628f !important;
}

.light-green {
    background: #92d050 !important;
}

.light-yellow {
    background: #ffff00 !important;
}

.light-orange {
    background: #ff0000 !important;
}

.dark-red {
    background: #f15c22 !important;
}

.dark-pink {
    background: #d30101 !important;
}

.light-pink {
    background: #fec02b !important;
}

.dark-black {
    background: #000 !important;
}

.red-background {
    background: #ed1a23;
}

.light-blue-background {
    background: #00aeef;
}

.light-cyan-background {
    background: #7965aa;
}
/* badge css start */

/* toltip css start */
.tooltip {
    position: absolute;
    z-index: 999;
    top: -5px !important;
}

/*.tooltiprelative {
    position: relative;
}*/

.tooltip.in {
}

.dark-pink + .tooltip > .tooltip-inner {
    background-color: #ed8203 !important;
    color: #fff !important;
    width: 100px;
}

.dark-pink + .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #ed8203 !important;
}

.dark-red + .tooltip > .tooltip-inner {
    background-color: #d30101 !important;
    color: #fff !important;
    width: 100px;
}

.dark-red + .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #d30101 !important;
}

.light-pink + .tooltip > .tooltip-inner {
    background-color: #edea01 !important;
    color: #000;
    width: 100px;
}

.light-pink + .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #edea01 !important;
}

.small-circle + .tooltip > .tooltip-inner {
    background-color: #ccc;
    color: #000;
    width: 100px;
}

.small-circle + .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #ccc;
}

.dark-black + .tooltip > .tooltip-inner {
    background-color: #ed8203 !important;
    color: #fff !important;
    width: 100px;
}

.dark-black + .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #ed8203 !important;
}

.light-blue-background + .tooltip > .tooltip-inner {
    background-color: #00aeef !important;
    color: #fff !important;
    width: 100px;
}

.light-blue-background + .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #00aeef !important;
}

.light-cyan-background + .tooltip > .tooltip-inner {
    background-color: #7965aa !important;
    color: #fff !important;
    width: 100px;
}

.light-cyan-background + .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #7965aa !important;
}


/* toltip css start */

/* hr css start */

.customehr {
    margin: 0;
}

.customehr1 {
    border: 1px solid #d5d5d5;
}

/* hr css End */

/* underline css start */

.underline {
    text-decoration: underline;
}

/* underline css End */

.form-control-feedback {
    z-index: 1 !important;
}


/* Accordian css start */
/*******************************
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/
/* .panel-group .panel { */
/* border-radius: 0; */
/* box-shadow: none; */
/* border-color: #EEEEEE; */
/* } */

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.Accordian-panel-title {
    font-size: 18px;
    background: #1edec5;
    color: #fff;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
    background: #eeedee;
}

.Accordian-body {
    padding: 0px !important;
}

.glyphicon-chevron-right::before {
    background: #fff;
    padding: 3px 4px 3px 5px;
    border-radius: 23px;
    font-size: 14px;
    color: #000f79;
}

.glyphicon-chevron-down::before {
    background: #fff;
    padding: 3px 4px 3px 5px;
    border-radius: 23px;
    font-size: 14px;
    color: #000f79;
}

/* panel css end */

/* mandetory css start */
.mandetory {
    color: #ff5858;
}

.span-badge {
    background: #016eac;
    padding: 0px 8px 2px 8px;
    color: #fff;
    width: 40px;
    text-align: center;
}

.sentmail table thead tr th,
.sentmail table tbody tr td {
    text-align: left;
}



/* remove icon css */

.remove-icon, .remove-icon:hover, .remove-icon:active, .remove-icon:focus {
    padding: 2px 4px 2px 4px;
    border: 2px solid #d7534f;
    border-radius: 25px;
    color: #d7534f;
}

.table-heading {
    font-size: 20px;
    color: #000;
}

.P-left-4p {
    padding-left: 4% !important;
}

.dark-green-color {
    color: #015a12 !important;
}

.padding-left-44 {
    padding-left: 44px;
}
/*.hoverborder td:first-child
{
	box-shadow: 2px 0 5px 0px #ccc;
}*/
.hoverborder:hover td:first-child {
    border-left: 5px solid #1edec5 !important;
}

.hoverbordernotification:hover td:first-child {
    border-left: 5px solid #1edec5 !important;
}

.full-border {
    border: 1px solid #e5e5e5;
}

.inner-Aqua-shadow {
    -webkit-box-shadow: inset 0 0 10px 2px #cbf1ef;
    box-shadow: inset 0 0 10px 2px #cbf1ef;
}

.top-offset-2 {
    margin-top: 2px;
}

.table tbody td {
    font-size: 14px;
    font-weight: normal;
}

.sidebar-nav .dropdown-menu li a:hover,
.sidebar-nav .dropdown-menu li a:active,
.sidebar-nav .dropdown-menu li a:focus .sidebar-nav li.open a:hover,
.sidebar-nav .dropdown-menu li.open a:active,
.sidebar-nav .dropdown-menu li.open a:focus {
    background: #aef6ec;
    color: #000 !important;
    text-decoration: none;
}

.action-completed:after {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    margin-left: 45%;
    top: 0px;
    background: url(../../img/complete-20.png) no-repeat 0px 0px;
}

.action-pending:after {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    margin-left: 45%;
    top: 0px;
    background: url(../../img/pending-20.png) no-repeat 0px 0px;
}

.font-20 {
    font-size: 20px;
}



.table-fixed {
    margin-bottom: 0px !important;
}
.table-fixed tbody {
	max-height: 280px;
	overflow-y: auto;
	width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
	display: block;
	height:auto;
}
.table-fixed tr:after {
	content: "";
	display: block;
	visibility: hidden;
	clear: both;
}
.table-fixed tbody td,
.table-fixed thead > tr > th {
	float: left;
}

.width-25
{
	width:25%;
}
.width-15
{
	width:14%;
}
.width-60
{
	width:60%;
}

.width-12
{
	width:12%;
}
.width-14
{
	width:14%;
}
.padding-left-14
{
	padding-left:14%;
}
.padding-left-45
{
	padding-left:45%;
}
.width-20
{
	width:20%;
}
.width-10
{
	width:10%;
}
.width-35
{
	width:35%;
}
.width-30
{
	width:30%;
}
.width-5
{
	width:5%;
}
.width-50
{
	width:50%;
}
.width-18
{
	width:18% !important;
}
.width-10
{
	width:10%;
}
